.multi-line-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    line-height: 1.2em;
    max-height: 3.6em;
    word-break: break-word;
    white-space: normal;
}

.hover-buttons button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
    background: var(--background-lightest) !important;
}

/* Keep dropdowns open when interacting inside */
.dropdown-item,
.dropdown-menu {
    background: var(--background-light) !important;
    cursor: pointer;
}