{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load has_permition %}

{% block title %}{% trans "frontend.search.search" context "Search title" %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/manga/search.css' %}">
{% endblock %}

{% block content %}
<div class="text-white">
  <!-- Search Controls -->
  <form id="search-form" class="form-row align-items-end mb-4">
    <div class="form-group col-sm-6 col-md-5">
      <input
        type="text"
        name="query"
        id="query"
        placeholder="{% trans 'frontend.search.search_manga' context 'Search placeholder' %}"
        class="form-control border-top-0 border-left-0 border-right-0 rounded-0 bg-transparent text-white w-100"
        required
      />
    </div>

    <div class="form-group col-sm-3 col-md-3">
      <select
        name="plugin"
        id="plugin-select"
        class="form-control custom-select bg-transparent border-left-0 border-top-0 border-right-0 rounded-0 text-white"
        required
      >
        <option value="" class="background-dark" disabled selected>{% trans "frontend.search.select_plugin" context "Select plugin title" %}</option>
        {% for category, domain, name, languages, unique in plugins %}
        <option
            value="{{ domain }}"
            data-category="{{ category }}"
            data-domain="{{ domain }}"
            data-languages="{{ languages|join:', ' }}"
             class="background-dark"
        >
            {{ name }}{% if not unique %} ({{ category }}){% endif %}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-sm-3 col-md-2">
        <select
            name="language"
            id="language-select"
            class="form-control custom-select bg-transparent border-left-0 border-top-0 border-right-0 rounded-0"
            disabled
        >
            <option value="" class="background-dark" disabled selected>{% trans "frontend.search.select_language" context "Select language title" %}</option>
        </select>
    </div>

    <div class="form-group col-sm-1 col-md-2">
      <button
        type="submit"
        class="btn btn-primary btn-block"
      >
        {% trans 'frontend.search.search' context 'Search title' %}
      </button>
    </div>
  </form>

  <!-- Manga Grid -->
  <div id="manga-grid" class="row">
    <!-- Results will go here -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.getElementById('search-form').addEventListener('submit', async (e) => {
    e.preventDefault();

    const form = e.target;
    const query = form.query.value;
    const pluginSelect = form.plugin;
    const selectedOption = pluginSelect.options[pluginSelect.selectedIndex];

    const category = selectedOption.dataset.category;
    const domain = selectedOption.dataset.domain;

    const language = form.language.value || null;
    const payload = { query, category, domain, language };

    const response = await fetch("{% url 'api_search_manga' %}", {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(payload)
    });

    const data = Array.from(await response.json());
    const grid = document.getElementById('manga-grid');
    grid.innerHTML = '';

    if(data.length == 0) {
        const col = document.createElement("div");
        col.className = "col-6 col-sm-4 col-md-3 col-lg-2 mb-4";

        const card = document.createElement("div");
        card.className = "card bg-dark text-white border-0 overflow-hidden position-relative hover-buttons-container";
        card.style.aspectRatio = "2 / 3";


        const img = document.createElement("img");
        img.className = "card-img";
        img.src = "/uploads/static/no_thumbnail.png";
        img.alt = '{% trans "frontend.manga_search.no_manga_found" context "No manga found text" %}';
        img.style.objectFit = "cover";
        img.style.height = "100%";

        const overlay = document.createElement("div");
        overlay.className = "card-img-overlay d-flex flex-column justify-content-end p-2";
        overlay.style.backgroundImage = "linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0))";

        const title = document.createElement("h6");
        title.className = "card-title mb-1 w-100 multi-line-title";
        title.title = '{% trans "frontend.manga_search.no_manga_found" context "No manga found text" %}';
        title.textContent = '{% trans "frontend.manga_search.no_manga_found" context "No manga found text" %}';

        card.appendChild(img);
        overlay.appendChild(title);
        card.appendChild(overlay);
        col.appendChild(card);
        grid.appendChild(col);
    }

    data.forEach(manga => {
        const col = document.createElement("div");
        col.className = "col-6 col-sm-4 col-md-3 col-lg-2 mb-4";

        const card = document.createElement("div");
        card.className = "card bg-dark text-white border-0 overflow-hidden position-relative hover-buttons-container";
        card.style.aspectRatio = "2 / 3";

        const checkmarkBadge = document.createElement("div");
        checkmarkBadge.className = `checkmark-badge ${!manga["requested"] ? "d-none" : "d-flex bg-primary"} justify-content-center align-items-center ${!manga["monitored"] ? "d-none" : "d-flex bg-success"}`;
        const monitoredMark = document.createElement("i");
        monitoredMark.className = `fa  ${manga["monitored"] ? "fa-check" : ""} ${manga["requested"] ? "fa-question" : ""} text-white`;

        checkmarkBadge.appendChild(monitoredMark);
        card.appendChild(checkmarkBadge);

        const img = document.createElement("img");
        img.className = "card-img";
        img.src = manga.cover;
        img.alt = manga.name;
        img.style.objectFit = "cover";
        img.style.height = "100%";

        const overlay = document.createElement("div");
        overlay.className = "card-img-overlay d-flex flex-column justify-content-end p-2";
        overlay.style.backgroundImage = "linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0))";

        const title = document.createElement("h6");
        title.className = "card-title mb-1 w-100 multi-line-title";
        title.title = manga.name;
        title.textContent = manga.name;

        const buttonsContainer = document.createElement("div");
        buttonsContainer.className = "hover-buttons d-none";

        {% if user|has_permition:'database.can_request' or user|has_permition:'database.can_download' %}
        const r_mContainer = document.createElement("div");
        r_mContainer.className = "hover-buttons d-flex";
        {% endif %}

        // Request button
        {% if user|has_permition:'database.can_request' %}
        const requestBtn = document.createElement("button");
        requestBtn.className = `btn btn-sm btn-primary mr-2 w-100 text-truncate ${manga["monitored"] ? "d-none" : ""}`;
        requestBtn.textContent = '{% trans "frontend.search.request" context "Request button text" %}';
        requestBtn.disabled = manga["requested"];
        requestBtn.onclick = async (e) => {
            e.preventDefault();
            postData = {
                "manga": manga,
                "category": category,
                "domain": domain
            }
            await fetch("{% url 'api_request_manga' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                body: JSON.stringify(postData) 
            }).then((res) => {
                if(res.ok) {
                    if(checkmarkBadge.classList.contains("bg-danger")) {
                        checkmarkBadge.classList.remove("bg-danger");
                    }
                    if(monitoredMark.classList.contains("fa-times")) {
                        monitoredMark.classList.remove("fa-times");
                    }
                    if(checkmarkBadge.classList.contains("d-none")) {
                        checkmarkBadge.classList.replace("d-none", "d-flex")
                    }
                    if(!requestBtn.disabled) {
                        requestBtn.disabled = true;
                    }

                    if(checkmarkBadge.classList.contains("d-none")) {
                        checkmarkBadge.classList.replace("d-none", "d-flex")
                    }
                    if(!checkmarkBadge.classList.contains("bg-primary") && !checkmarkBadge.classList.contains("bg-success")) {
                        checkmarkBadge.classList.add("bg-primary");
                    }
                    if(!monitoredMark.classList.contains("fa-question") && !monitoredMark.classList.contains("fa-check")) {
                        monitoredMark.classList.add("fa-question");
                    }
                } else {
                    if(checkmarkBadge.classList.contains("d-none")) {
                        checkmarkBadge.classList.replace("d-none", "d-flex")
                    }
                    if(!checkmarkBadge.classList.contains("bg-danger")) {
                        checkmarkBadge.classList.add("bg-danger");
                    }
                    if(!monitoredMark.classList.contains("fa-times")) {
                        monitoredMark.classList.add("fa-times");
                    }
                }
            });
        };
        {% endif %}

        // Monitor button
        {% if user|has_permition:'database.can_download' %}
        const monitorBtn = document.createElement("button");
        monitorBtn.className = "btn btn-sm btn-secondary w-100 text-truncate";
        monitorBtn.textContent = '{% trans "frontend.search.monitor" context "Monitor button text" %}';
        monitorBtn.disabled = manga["monitored"];
        monitorBtn.onclick = async (e) => {
            e.preventDefault();
            postData = {
                "manga": manga,
                "category": category,
                "domain": domain
            }
            await fetch("{% url 'api_monitor_manga' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                body: JSON.stringify(postData)
            }).then((res) => {
                if(res.ok) {
                    if(!requestBtn.classList.contains("d-none")) {
                        requestBtn.classList.add("d-none");
                    }
                    if(checkmarkBadge.classList.contains("bg-danger")) {
                        checkmarkBadge.classList.remove("bg-danger");
                    }
                    if(monitoredMark.classList.contains("fa-times")) {
                        monitoredMark.classList.remove("fa-times");
                    }
                    if(checkmarkBadge.classList.contains("d-none")) {
                        checkmarkBadge.classList.replace("d-none", "d-flex")
                    }
                    if(!monitorBtn.disabled) {
                        monitorBtn.disabled = true;
                    }

                    if(!checkmarkBadge.classList.contains("bg-success")) {
                        checkmarkBadge.classList.add("bg-success");
                    }
                    if(checkmarkBadge.classList.contains("bg-primary")) {
                        checkmarkBadge.classList.replace("bg-primary", "bg-success");
                    }
                    if(!monitoredMark.classList.contains("fa-check")) {
                        monitoredMark.classList.add("fa-check");
                    }
                    if(monitoredMark.classList.contains("fa-question")) {
                        monitoredMark.classList.replace("fa-question", "fa-check");
                    }
                } else {
                    if(checkmarkBadge.classList.contains("d-none")) {
                        checkmarkBadge.classList.replace("d-none", "d-flex")
                    }
                    if(!checkmarkBadge.classList.contains("bg-danger")) {
                        checkmarkBadge.classList.add("bg-danger");
                    }
                    if(!monitoredMark.classList.contains("fa-times")) {
                        monitoredMark.classList.add("fa-times");
                    }
                }
            });
        };
        {% endif %}

        // View button
        const viewBtn = document.createElement("button");
        viewBtn.className = "btn btn-sm btn-outline-light mt-2 w-100 text-truncate";
        viewBtn.textContent = '{% trans "frontend.search.view" context "View button text" %}';
        viewBtn.onclick = (e) => {
            e.preventDefault();
            window.open(manga.url, "_blank", "noopener,noreferrer");
        };

        {% if user|has_permition:'database.can_request' %}
        r_mContainer.appendChild(requestBtn);
        {% endif %}
        {% if user|has_permition:'database.can_download' %}
        r_mContainer.appendChild(monitorBtn);
        {% endif %}
        {% if user|has_permition:'database.can_request' or user|has_permition:'database.can_download' %}
        buttonsContainer.appendChild(r_mContainer);
        {% endif %}
        buttonsContainer.appendChild(viewBtn);

        overlay.appendChild(title);
        overlay.appendChild(buttonsContainer);

        card.appendChild(img);
        card.appendChild(overlay);

        card.addEventListener("mouseenter", () => {
            buttonsContainer.classList.remove("d-none");
            buttonsContainer.classList.add("d-flex", "flex-column");
        });
        card.addEventListener("mouseleave", () => {
            buttonsContainer.classList.add("d-none");
            buttonsContainer.classList.remove("d-flex", "flex-column");
        });

        col.appendChild(card);
        grid.appendChild(col);
    });
});

document.getElementById('plugin-select').addEventListener('change', (e) => {
    const selectedOption = e.target.options[e.target.selectedIndex];
    const languageSelect = document.getElementById('language-select');
    const languages = selectedOption.dataset.languages?.split(',') || [];

    languageSelect.innerHTML = '';
    
    if (languages.length > 0) {
        languageSelect.disabled = false;
        languageSelect.classList.add("text-white")

        const defaultOption = document.createElement('option');
        defaultOption.disabled = true;
        defaultOption.selected = true;
        defaultOption.textContent = '{% trans "frontend.search.select_language" context "Select language title" %}';
        defaultOption.className = "background-dark";
        languageSelect.appendChild(defaultOption);

        languages.forEach(lang => {
            const opt = document.createElement('option');
            opt.value = lang.trim();
            opt.textContent = lang.trim();
            opt.className = "background-dark";
            languageSelect.appendChild(opt);
        });
    } else {
        languageSelect.disabled = true;
        const noLangOption = document.createElement('option');
        noLangOption.disabled = true;
        noLangOption.selected = true;
        noLangOption.textContent = '{% trans "frontend.search.no_language" context "No language text" %}';
        languageSelect.appendChild(noLangOption);
    }
});
</script>
{% endblock %}