.dropdown-toggle::after {
    display: none; /* Removes Bootstrap's default caret */
}

.search-bar {
    max-width: 40%;
}

@media (min-width: 768px) {
    .search-bar {
        max-width: 25%;
    }
}

.highlighted:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sidebar {
    position: fixed;
    left: 0;
    background: var(--background-light);
    padding: 1rem;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 1040;
    width: 15%;
}

@media (min-width: 992px) {
    #sidebar {
    transform: none !important;
    }
    #content {
    margin-left: 15%;
    }
    #sidebarToggle {
    display: none;
    }
}

@media (max-width: 991.98px) {
    #sidebar {
    width: 50%;
    transform: translateX(-100%);
    background: var(--background-light);
    }
    #sidebar.show {
    transform: translateX(0);
    }
    #content {
    margin-left: 0;
    }
    #sidebarToggle {
    display: inline-block;
    }
}